# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json

# Eclipse
.classpath
.settings

# installed Fabric binaries etc.
bin/
builders/
config/
external-chaincode/
install-fabric.sh
