{
    "type": 1,
    "value": {
        "rule": {
            "n_out_of": {
                "n": 1,
                "rules": [
                    {
                        "signed_by": 0
                    }
                ]
            }
        },
        "identities": [
            {
                "principal_classification": "ROLE",
                "principal": {
                    "msp_identifier": "{{ org1_msp_id }}",
                    "role": "MEMBER"
                }
            }
        ]
    }
}