#
# SPDX-License-Identifier: Apache-2.0
#

# don't package the connection details
local_fabric

# don't package the tests
test
functionalTests

# don't package config files
.vscode
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.nyc_output
coverage
