#
# SPDX-License-Identifier: Apache-2.0
#

# Coverage directory used by tools like istanbul
coverage

# Report cache used by istanbul
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

package-lock.json
